<% content_for :top_content do %>
  <h1>Welcome to Stretch Fitness & Wellness</h1>
  <p>Register to get started.</p>
  <btn><p><%= link_to 'Register', new_client_registration_path %></p></btn>
<% end %>
